Week\ 1/Lesson\ 3/ERD-AnswerKey.pdf
Week\ 1/Lesson\ 3/ERD-Answers.png
Week\ 1/Lesson\ 3/ERD-Exercises.pdf
Week\ 1/Lesson\ 4/RS-AnswerKey.pdf
Week\ 1/Lesson\ 4/RS-Answers.png
Week\ 1/Lesson\ 4/RS-Exercises.pdf
Week\ 1/Lesson\ 5/Dillards-RS-Questions.pdf
Week\ 1/Lesson\ 5/Dognition-RS-Exercise.pdf
Week\ 1/Lesson\ 5/Week\1-Assessment.pdf
Week\ 2/Lesson\ 1/Dillards-DB-Info.pdf
Week\ 2/Lesson\ 1/Dognition-DB-Info.pdf
Week\ 2/Lesson\ 3/MySQL-AnswerKey1.pdf
Week\ 2/Lesson\ 3/MySQL-Exercise1.ipynb
Week\ 2/Lesson\ 4/MySQL-AnswerKey2.pdf
Week\ 2/Lesson\ 4/MySQL-Exercise02.ipynb
Week\ 2/Lesson\ 5/breed_list.csv
Week\ 2/Lesson\ 5/ItemsNonUS.csv
Week\ 2/Lesson\ 5/MySQL-AnswerKey3.pdf
Week\ 2/Lesson\ 5/MySQL-Exercise03.ipynb
Week\ 2/Lesson\ 5/TheSpecialListOfTheCostemers.csv
Week\ 2/Lesson\ 6/TeradataExercisesW2.pdf
Week\ 2/Lesson\ 7/Week\2-Assessment.pdf
Week\ 3/Lesson\ 1/MySQL-AnswerKey4.pdf
Week\ 3/Lesson\ 1/MySQL-Exercise04.ipynb
Week\ 3/Lesson\ 2/MySQL-AnswerKey5.pdf
Week\ 3/Lesson\ 2/MySQL-Exercise05.ipynb
Week\ 3/Lesson\ 2/MySQL-Exercise06.ipynb
Week\ 3/Lesson\ 4/MySQL-AnswerKey7.pdf
Week\ 3/Lesson\ 4/MySQL-Exercise07.ipynb
Week\ 3/Lesson\ 5/MySQL-AnswerKey8.pdf
Week\ 3/Lesson\ 5/MySQL-Exercise08.ipynb
Week\ 3/Lesson\ 6/TeradataExercisesW3.pdf
Week\ 3/Lesson\ 7/Week\3-Assessment.pdf
Week\ 4/Lesson\ 1/MySQL-AnswerKey9.pdf
Week\ 4/Lesson\ 1/MySQL-Exercise09.ipynb
Week\ 4/Lesson\ 2/MySQL-AnswerKey10.pdf
Week\ 4/Lesson\ 2/MySQL-Exercise10.ipynb
Week\ 4/Lesson\ 3/Dognition-SPAP.pdf
Week\ 4/Lesson\ 3/MySQL-AnswerKey11.pdf
Week\ 4/Lesson\ 3/MySQL-Exercise11.ipynb
Week\ 4/Lesson\ 4/MySQL-AnswerKey12.pdf
Week\ 4/Lesson\ 4/MySQL-Exercise12.ipynb
Week\ 5/Lesson\ 1/TeradataExercisesW5.pdf
Week\ 5/Lesson\ 2/Week\5-Assessment.pdf
**/.DS_Store